@{
    ViewData["Title"] = "Home Page";
}



<partial name="SearchPartial" />
<partial name="SliderPartial" model="@Model.Carousels" />

@model Rosa.ViewModels.HomeViewModel
<div class="container-fluid">
    <div class="row">
        @foreach (var modelProduct in Model.Products)
        {
            <div class="col-12 col-sm-8 col-md-6 col-lg-4" style="width: 50%; width : 60%">
                <div class="card">
                    <a href="@Url.Action("ProductShow", "Product",new { id = modelProduct.Id })">
                        @*<a href="@Html.ActionLink("ProductShow", "Product",new { id = modelProduct.Id })">*@
                            <img class="card-img" src="@modelProduct.ImageUrl" alt="Vans" style="height:38rem;object-fit:cover">
                        </a>
                        <div class="card-body" style="font-size:20px">
                            <h4 class="card-title">@modelProduct.Name</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                            <p class="card-text" style="height:5rem; text-wrap:normal">
                                @modelProduct.Description
                            </p>
                            <div class="buy d-flex justify-content-between align-items-center">
                                <div class="price text-success">
                                    <h5 class="mt-4">
                                        $@modelProduct.ProductTypeName
                                    </h5>
                                </div>
                                @*<a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>*@
                                <partial name="OrderModalPartial" />
                            </div>
                        </div>
</div>
            </div>


        }

    </div>
</div>
<style>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-top: 1rem;
    }

    .container {
        padding-top: 50px;
        padding-bottom: 20px;
        /*background-image: url('images/background2.jfif');*/
       /* background-image: url('file:///C:\ProjectMe2\Rosa\Rosa\wwwroot\images\duck_cookies_field.png');*/
        /*background-size: cover;
        background-color: aquamarine;
        background-position: center center;
        background-repeat: no-repeat;*/
        margin: auto;
    }
    img {
        border-radius: 5px 5px 0 0;
    }
</style>